.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 70px;
  left: 0;
  top: 0;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.header-inner {
  padding: 15px 0;
  height: 40px;
}

.my-big {
  float: left;
  margin-left: 30px;
  font-size: 2.5em;
  cursor: pointer;
  color: #333;
}

.btn-contact {
  text-decoration: none;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  float: right;
  margin-right: 30px;
  transition: color 0.3s;
}

.btn-contact:hover {
  color: #333;
}

body {
  font-family: Lato;
}

.title {
  background-color: #f2f2f2;
  width: 100%;
}

.main {
  padding-top: 70px;
}

.title-inner {
  padding: 250px 0;
}

.title-content {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.title-sub {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.try {
  background-color: #74cfae;
  width: 100%;
}

.try-inner {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.try-title {
  font-size: 24px;
  color: #fff;
}

.font-Raleway {
  font-family: Raleway;
}

.try-text {
  font-size: 20px;
  color: #fff;
  line-height: 28px;
  width: 650px;
  margin-top: 35px;
}

.work {
  width: 100%;
  background-color: #f2f2f2;
}

.work-inner {
  padding: 60px 0 70px 0;
}

.work-title {
  font-size: 24px;
}

.work-img-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.work-img {
  float: left;
  opacity: 0.7;
  transition: 0.3s;
}

.work-img:hover {
  opacity: 1;
}

.work-img-flex a {
  margin: 80px 0 0 100px;
}

.work-img-flex a:nth-child(3n+1) {
  margin-left: 0;
}

.work-img-flex a:nth-child(-n+3) {
  margin-top: 0;
}

.work-text-flex {
  display: flex;
  margin-top: 90px;
  justify-content: center;
  align-items: center;
}

.work-text-flex .work-text {
 width: 460px;
 line-height: 24px;
}

.btn-Email {
  font-size: 12px;
  padding: 14px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #74cfae;
  transition: color 0.3s;
  margin-left: 90px;
}

.btn-Email:hover {
  color: #333;
}

.read-flex {
  display: flex;
  margin-top: 70px;
  justify-content: center;
}

.read-content {
  margin-left: 180px;
}

.read-content:first-child {
  margin-left: 0;
}

.read-title {
  color: #fff;
  font-size: 22px;
}

.read {
  width: 100%;
  background-color: #4e4e4e;
}

.read-inner {
  padding: 70px 0 100px 0;
}

.read-text {
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
}

.sns {
  width: 100%;
  background-color: #f2f2f2;
}

.sns-inner {
  padding: 200px 0;
}

.sns-flex {
  display: flex;
  justify-content: center;
}

.sns-content {
  padding: 25px 0;
  height: 40px;
  width: 185px;
  display: inline-block;
}

.sns-icon {
  font-size: 2.5em;
  color: #74cfae;
  transition: background-color 0.3s;
}

.sns-content:hover {
  background-color: #fff;
}

.footer {
  width: 100%;
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px 0;
}

.footer-text {
  color: #fff;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .inner {
    width: 97%;
  }

  .btn-contact {
    display: none;
  }

  .toggle {
    position: relative;
    width: 30px;
    height: 18px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    float: right;
    cursor: pointer;
  }

  .toggle span { 
    position: absolute;
    right: 12px;
    height: 3px;
    width: 25px;
    background-color: #ddd;
    display: inline-block;
  }

  .toggle span:nth-of-type(1) {
    top: 9px;
  }

  .toggle span:nth-of-type(2) {
    top: 18px;
  }

  .toggle span:nth-of-type(3) {
    top: 27px;
  }

  .title-inner {
    padding: 160px 0 130px 0;
  }

  .try-inner {
    display: block;
    padding-bottom: 25px;
  }

  .try-title {
    margin-top: 20px;
  }

  .try-text {
    width: auto;
  }

  .work-img-flex {
    flex-direction: column;
    align-items: center;
  }

  .work-img-flex a {
    margin: 0;
  }

  .work-img-flex a:nth-child(3n+1) {
    margin-top: 80px;
  }

  .work-img-flex a:first-child {
    margin-top: 0;
  }

  .work-text-flex {
    display: inline-block;
  }

  .work-text-flex .work-text {
    width: auto;
  }

  .btn-Email {
    margin: 0;
    display: inline-block;
  }

  .work-text-flex a {
    margin-top: 40px;
  }

  .read-flex {
    display: block;
    margin-top: 40px;
  }

  .read-content {
    margin: 0;
  }

  .read-content {
    margin-top: 88px;
  }

  .read-content:first-child {
    margin-top: 0;
  }

  .sns-inner {
    padding: 50px 0;
  }

  .sns-flex {
    display: block;
  }

  .sns-content {
    width: 100%;
  }
}



@media screen and (min-width:768px) and (max-width:1199px) {
  .inner {
    width: 97%;
  }

  .try-inner {
    display: block;
    padding-bottom: 25px;
  }

  .try-title {
    margin-top: 20px;
  }

  .try-text {
    display: inline-block;
    width: auto;
  }

  .work-img-flex {
    flex-direction: column;
    align-items: center;
  }

  .work-img-flex a {
    margin: 0;
  }

  .work-img-flex a:nth-child(3n+1) {
    margin-top: 80px;
  }

  .work-img-flex a:first-child {
    margin-top: 0;
  }

  .work-text-flex {
    margin-top: 80px;
    display: inline-block;
  }

  .work-text-flex .work-text {
    width: auto;
  }

  .work-text-flex a {
    margin-top: 40px;
  }

  .btn-Email {
    margin: 0;
    display: inline-block;
  }

  .read-flex {
    display: block;
    margin-top: 40px;
  }

  .read-content {
    margin: 0; 
  }

  .read-content {
    margin-top: 88px;
  }

  .read-content:first-child {
    margin-top: 0;
  }
}